<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.drugstore.cart.model.dao.CartDao">
	<delete id="cartDelete">
    DELETE FROM cart
    WHERE 
    <foreach collection="array" item="no" open="" close="" separator=" OR ">
      cart_no = #{no}
    </foreach>
  </delete>
  
  
  <select id="getPcode" resultMap="cartMap">
  	select
  		*
  	from
  		cart c join product p on c.pcode = p.pcode
  	where
  	<foreach collection="array" item="no" open="" close="" separator=" OR ">
      cart_no = #{no}
    </foreach>
  </select>
  
  <select id="findCartListByMemberId" resultMap="cartMap">
    select 
	    c.*,
	    p.*,
	    pa.*,
	    pa.created_at attach_created_at
	from
	    cart c 
	        join product p on c.pcode = p.pcode
	        left join product_attachment pa on p.pcode = pa.pcode
	where
	    c.member_id = #{memberId}
  </select>
  
  <resultMap type="cart" id="cartMap">
    <id column="cart_no" property="cartNo"/>
  	<result column="member_id" property="memberId"/>
  	<result column="amount" property="amount"/>
  	
  	<association property="product" javaType="product">
  		<id column="pcode" property="pcode"/>
  		<result column="category_id" property="categoryId"/>
  		<result column="pname" property="pname"/>
  		<result column="price" property="price"/>
  		<collection property="attachments" ofType="productAttachment">
	  		<id column="attach_no" property="attachNo"/>
	  		<result column="pcode" property="pcode"/>
	  		<result column="original_filename" property="originalFilename"/>
	  		<result column="renamed_filename" property="renamedFilename"/>
	  		<result column="attach_created_at" property="createdAt"/>
	  	</collection>
  	</association>
  	
  </resultMap>
  
  <update id="updateCart">
			update cart set amount = #{amount} 
			where cart_no = #{cartNo}
	</update>
	
	<insert id ="insertOrder">
	insert into
		orders
	(merchant_uid, member_id, imp_uid, receiptid, method, name, paid_at, total_price, delivery_price, recipient, post_code, address, detail_address, memo)
		values
	(#{merchantUid}, #{memberId}, #{impUid}, #{receiptId}, #{method}, #{name},to_date(#{paidAt},'YYYY-MM-DD') , 
	 #{totalPrice}, 3000 , #{recipient}, #{postCode}, #{address}, #{detailAddress}, #{memo})
	</insert>
	
	<insert id="insertProductOrder">
	insert into
		product_orders
	values
	(
	<foreach collection="products" item="pd" separator=",">
		#{pd.pcode,jdbcType=NUMERIC}
	</foreach>
		 , #{merchantUid}
	)
	
	</insert>
	
	<delete id ="deleteOrdercart">
	DELETE FROM cart
    WHERE 
    <foreach collection="products" item="pd" open="" close="" separator=" OR ">
      cart_no = #{pd.cartNo}
    </foreach>
	</delete>
	
	<select id="findOrderListByCartNo" resultMap="orderMap">
	select 
	    c.*,
	    p.*,
	    m.*,
	    pa.*,
	    pa.created_at attach_created_at
	from
	    cart c 
	        join product p on c.pcode = p.pcode
	        left join product_attachment pa on p.pcode = pa.pcode
	        join member m on c.member_id = m.member_id
	where c.cart_no IN
	 <foreach collection="array" item="no" open="(" close=")" separator=",">
   	#{no}
   	 </foreach>
	</select>
	
	<resultMap type="cart" id="orderMap">
    <id column="cart_no" property="cartNo"/>
  	<result column="member_id" property="memberId"/>
  	<result column="amount" property="amount"/>
  	<association property="member" javaType="member">
  	
  	<result column="name" property="name"/>
  	<result column="member_id" property="memberId"/>
  	<result column="phone" property="phone"/>
  	<result column="post_code" property="postCode"/>
  	<result column="address" property="address"/>
  	<result column="detail_address" property="detailAddress"/>
  	</association>
  	<association property="product" javaType="product">
  		<id column="pcode" property="pcode"/>
  		<result column="pname" property="pname"/>
  		<result column="price" property="price"/>
  		<collection property="attachments" ofType="productAttachment">
	  		<id column="attach_no" property="attachNo"/>
	  		<result column="pcode" property="pcode"/>
	  		<result column="original_filename" property="originalFilename"/>
	  		<result column="renamed_filename" property="renamedFilename"/>
	  		<result column="attach_created_at" property="createdAt"/>
	  	</collection>
  	</association>
  	
  </resultMap>
  
	<select id="findCart" resultType="_int" parameterType="map">
	select 
		* 
	from 
		cart
	where
		pcode = #{pcode} and member_id = #{memberId}
	</select>
	<!-- 
  	<resultMap type="cart" id="onlyCartMap">
    <id column="cart_no" property="cartNo"/>
  	<result column="pcode" property="pcode"/>
  	<result column="member_id" property="memberId"/>
  	<result column="amount" property="amount"/>
  	</resultMap>
  	 -->
</mapper>