@charset "UTF-8";

* {
	text-decoration: none;
}

body {
	fomnt-family: "휴먼모음T";
}

div, section, header, aside, footer {
	margin: 0px;
	padding: 0px;
}

body, input, textarea, select, button, table {
	font-size: 12px;
}

input, select, textarea, button, ul, ol, li, dl, dt, dd {
	vertical-align: middle;
}

div {
	display: block;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: black;
}

img {
	max-width: 100%
}

ul {
	display: block;
	vertical-align: middle;
}

button {
	border: none;
	cursor: pointer;
}

.relative {
	position: relative !important
}

.hand, .pointer {
	cursor: pointer !important;
}

/***** body *****/
body {
	margin: 0 auto;
	padding-top: 340px;
}

.border-top {
	background: gray;
	width: 170px;
	height: 1.5px;
}

.border-bot {
	background: gray;
	width: 170px;
	height: 1.5px;
}

h6 {
	margin-left: 45px;
 	font-weight: bold; 
}

ul.space_list li {
	margin-bottom: 1em;
}

.left-menu {
	margin-left: 250px;
	float: left;
}

.right-content {
	width: 65%;
	float: right;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.menu-list a:hover {
	background-color: rgb(65, 88, 101);
	color: white;
	padding:10px;
}

.menu-list{
	font-size: 15px;
}

.table table-hover{
	width:700px;
}

#noticeView{
	font-size:15px;
}

#noticeViewContent{
	margin:0 auto; 
	font-size:20px;
	width:900px;
	height:500px;
	background-color:lightgray;
	opacity:0.5;
	color:black;

}

.noContent{
	font-color:black;
}
#noticeViewDesc div:nth-of-type(1) {
	margin-top: 50px;
	margin-left: 200px;
	text-align: left;
}

#noticeViewDesc div:nth-of-type(2) {
	margin: 50px;
	text-align: right;
}

#noticeViewContent {
	text-align: center;
}

.form-group {
	width: 500px;
	margin:0 auto; 
	font-size: 15px;
}

.btn-add {	
	margin-left:940px;
    margin-top:10px;
	width: 70px;
	border-radius: 5px;
	height: 35px;
	font-weight: 600;
    background-color: rgb(122, 158, 177);
    color:white;
    border-style:none;
}

.btn-write {	
	margin-left:630px;
    margin-top:10px;
	width: 70px;
	border-radius: 5px;
	height: 35px;
	font-weight: 600;
    background-color: rgb(122, 158, 177);
    color:white;
    border-style:none;
}

h2{
	text-align: center;
}
.btn-page{
	margin-left: 200px;
	background-color: rgb(122, 158, 177);
	color: white;
	border-radius: 50px;
	width: 55px;
	height: 25px;
}
.btn-no{
	color:black;
	background-color: white;
	margin-left: 150px;
	border-radius: 50px;
	width: 200px;
	height: 25px;
}
.btn-update{
	margin-left: 1100px;
	width: 50px;
	height: 30px;
}
.btn-delete{
	background-color:#ff4f4f;
	color:white;
	width: 50px;
	height: 30px;
}