@charset "UTF-8";

#questionContainer{
	padding-top: 350px;
}

section.left-menu{
	margin-left: 250px;
 	margin-right: 1000px;
    text-align: center;
}

.menu-list{
	list-style: none;
	margin-right: 50px;
	font-size: 15px;
	text-align: left;
	padding-top: 13px;
}

div.border-top{
	background-color: lightgray;
	width: 170px;
	height: 1.7px;
}

div.border-bot{
	background-color: lightgray;
	width: 170px;
	height: 1.7px;
}

section.left-menu h6{
	font-weight: bold;
	margin-right: 120px;
}

section.right-menu{
	margin-left: 500px;
	margin-top: -200px;
	margin-bottom: 200px;
}

div.right-menu-up{
	background-color: lightgray;
	width: 800px;
	height: 1.3px;
	margin-top: -20px;
	margin-bottom: 30px;
}

div.right-menu-up-form{
	background-color: lightgray;
	width: 800px;
	height: 1.3px;
	margin-top: 20px;
	margin-bottom: 30px;
}

table, thead, tbody, td{
	text-align: center;
}

table{
	width: 100%;
	max-width: 77%;
}

thead{
	text-align: left;
	border-bottom: 1px solid black;
}

tr.questionList-head{
	font-weight: bold;
}



#qtable{
	width : 800px;
	height : 100px; 
}


tr.questionList-body{
	border-bottom: 1px solid black;
}


td{
	font-size: 12px;
	padding: 10px;
}

input[type=submit]{
	margin-top: -32px;
	margin-left: 690px;
	margin-bottom: 45px;
	background-color: white;
	border: 1px solid #415865;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type=submit]:hover {
	background-color: #415865;
	color: white;
}


div.form-blank{
	height: 35px;
}

h4{
	margin-top: 40px;
}

#title, #content{
	margin-left: 70px;
	margin-top: -25px;
}

label #label-title{
	margin-left: -10px;
}

#insert-submit{
	background-color: white;
	border: 1px solid #415865;
	margin-left: 345px;
	margin-top: 30px;
}

#insert-submit:hover{
	background-color: #415865;
	color: white;
}
