@charset "UTF-8";
* {
	padding:0;
	margin:0;
}
main {
	max-width: 1024px;
	margin:0 auto;
	padding-top: 350px;
}
.strong {
	font-weight: bold;
}
.title-wrap {
	margin-top:20px;
	height:80px;
	display:flex;
    justify-content: center;
    align-items: center;
}
.member-info-wrap {
	border:1px solid black;
	padding:10px;
	font-size : 12px;
}
.member {
	height:30px;
	border-bottom: 1px solid lightgray;
	display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.mileage {
	height:30px;
	display: flex;
    align-items: center;
    padding-top: 5px;
}
.help-wrap {
	margin-top:20px;
	border:1px solid rgb(122, 158, 177);
	padding:10px;
	font-size:12px;
}
.order-product-header {
	padding:10px;
	font-size:20px;
	font-weight: bold;
	height:25px;
	display: flex;
	align-items: center;
}
table {
	border-collapse: collapse;
	width:100%;
}
.order-product tr {
	border-bottom: 1px solid #d3d3d385;
}
.order-product th, .total th {
	height:70px;
	border-bottom: 0.1px solid lightgray;
	font-weight: normal;
	font-weight: 400;
	text-align: center;
}
.order-product td {
	font-size:13px;
}
.order-product tbody td:not(#productInfo) > span {
	display:flex;
	justify-content: center;
    align-items: center;
}
#productInfo {
	height:100px;
	padding-left: 10px;
	width:400px;
}
.order-product tfoot {
	height:50px;
	border-top: 1px solid #d3d3d385;
	border-bottom: 1px solid #d3d3d385;
}
.order-product tfoot td {
	padding:10px;
}
#orderProductPrice {
	text-align: center;
}
.delivery-info-header, .payment-info-header {
	height:25px;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 20px;
}
.fee-info-header{
	height:25px;
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 20px;
}
.delivery-product th {
	height:40px;
	border-bottom: 0.1px solid lightgray;
	font-weight: normal;
	text-align: left;
	padding: 25px 0 25px 20px;
}
.delivery-product td {
	border-bottom: 0.1px solid lightgray;
}
.input {
	height:22px;
	outline: none;
	border: 1px solid lightgray;
	padding:3px;
}
.address {
	height:22px;
	outline:none;
	border: 1px solid lightgray;
	padding:3px;
	width:450px;
	margin:3px 0;
}
.size {
	font-size:12px;
}
.total td {
	height:100px;
	border-bottom: 1px solid lightgray;
	text-align: center;
	
}
.discount-info-wrap th {
	height:80px;
	text-align: left;
	padding-left: 5px;
	font-weight: normal;
}
.paymentSelect {
	width:100%;
	height:60px;
	display: flex;
	align-items: center;
	padding-right: 20px;
	border-bottom: 1px solid #d3d3d385;
}
.cash-wrap {
	margin-right: 50px;
}
.final-wrap {
	width:40%;
}
.total-wrap {
	display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/*
#orderBtn {
	width:40%;
	height:45px;
	background-color:rgb(122, 158, 177);
	border:none;
	cursor: pointer;
}
*/
#orderBtn:hover {
	background-color: white;
	border: 1px solid rgb(65, 88, 101);
	color:gray;
}
#orderBtn {
	background: #415865;
    color: #ffff;
	width: 50%;
    height: 57px;
    border: 2px solid #415865;
    line-height: 53px;
    text-align: center;
    background: #ffff;
    font-family: 'SpoqaHanSans Neo';
    font-size: 18px;
    font-weight: 500 !important;
    letter-spacing: -0.02em;
    color: #415865;
    margin: 0 0 0 12px;
    padding: 0;
    flex: 0 1 auto;
    border-radius: 8px;
   cursor: pointer;
}
#orderBtn:hover {
   background-color: #415865;
   border:1px solid rgb(65, 88, 101);
   transition-duration : 0.4s;
   color:#ffff;
}

.display {
	display:flex;
	justify-content: center;
}
#product-img-wrap{
	padding:5px;
	width:100px;
}
#productImg img {
	width:100%;
	height:100px;
}
#cash-info th {
	height:40px;
	text-align: left;
	padding-left: 5px;
	font-weight: normal;
	width:100px;
}
.bank {
	height:22px;
	outline:none;
	border:1px solid lightgray;
	padding:3px;
}
[name=paymentName] {
	width: 100px;
}
[name=bank] {
	width:250px;
}
label {
	font-size:14.5px;
}
th {
	font-size:14px;
}
.strong {
	font-weight: bold;
}
.final-wrap {
	display:flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.final-wrap-header {
    font-size: 18.5px;
    font-weight: bold;	
}
.flex {
	display:flex;
}
.info {
	height: 130px;
	display: flex;
    align-items: center;
}
#card-info > *{
	font-size:14px;
	margin-top: 24px;
	font-weight : 700;
}
#card-info {
	display: none;
}
.search-bar-wrap {
	height:55px;
}

 /* 사용자 주소 정보 */
 .addressInfo_div{
 	margin-top: 30px;
 }
 .addressInfo_input_div_wrap{
 	border-bottom: 1px solid #f3f3f3;
 	height: 225px;
 }
.address_btn {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.address_btn:hover{
	background-color: #777;
}
.addressInfo_button_div::after{
	content:'';
	display:block;
	clear:both;
}
		.addressInfo_input_div{
			padding:12px;
			text-align: left;
			display: none;
			line-height: 40px;
		}
		.addressInfo_input_div th{
			border-color: transparent;
		    background-color: transparent;		
		}
		.addressInfo_input_div th{
			padding : 12px 5px 12px 20px;
			vertical-align: top;
		}
		.addressInfo_input_div td{
			padding : 8px 12px;
		}		
		.addressInfo_input_div_2 input{
			padding: 6px 5px;
		}
.address_search_btn{
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #aaa;
    width: 90px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #555;
    cursor: pointer;
}
.addressInfo_div input{
	width : 200px;
	height : 30px;
}
/* radio css*/
.paymentSelect {
    padding: 15px 10px;
}
.paymentSelect input[type=radio]{
    display: none;
}
.paymentSelect input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.paymentSelect input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.paymentSelect input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}
.card-wrap{
	margin-left : 10px;
}
.final-wrap p{
	font-size:12px;
	font-weight : 700;
	font-family: 'SpoqaHanSans Neo';
}